#root {
  max-width: 1280px;
  background-color: #107FC9;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
